*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    position: relative;
    overflow: hidden;
    flex: 1;
}

.sidebar img {
    width: 100%;
    height: 100%;
    object-fit: cover ;
}

.text-brand {
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 2;
    color: #00f3ff;
    font-family: "Story Script";
    text-shadow: 0 0 10px #00f3ff;
}

.form-container {
    flex: 1.5;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0d0f18;
    color: #e2e8f0;
}

.desc, .label {
    font-size: 1.1rem;
    margin-bottom: 24px;
}

.container-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.form-row label {
    display: block;
    margin-bottom: 8px;
    color: #00f3ff;
    font-weight: 600;
}

.form-row input {
    height: 42px;
    padding: 0 12px;
    border-radius: 8px;
    font-size: 0.95rem;
    background-color: #16192b;
    border: 1px solid #2a2f4c;
    color: #f1f7f9;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.form-action {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-action button[type="submit"] {
    height: 48px;
    background-color: #7928ca;
    color: #f1f7f9;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.form-action button[type="submit"]:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 14px #7928ca;
}

@keyframes shake {
    0%, 100% { 
        transform: translateX(0);
    }
    20%, 60% {
        transform: translateX(-5px);
    }
    40%, 80% {
        transform: translateX(5px);
    }
}